@model Validation_with_CRUD_161124.Models.validationFiles.RegistrationValidation
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Registration</h2>
@using (Html.BeginForm("Edit", "Registration", FormMethod.Post))
{
    @Html.LabelFor(x => x.FirstName)@Html.TextBoxFor(x => x.FirstName)@Html.ValidationMessageFor(x => x.FirstName)
    <br />
    @Html.LabelFor(x => x.LastName)@Html.TextBoxFor(x => x.LastName)@Html.ValidationMessageFor(x => x.LastName)
    <br />
    @Html.LabelFor(x => x.Email)@Html.TextBoxFor(x => x.Email)@Html.ValidationMessageFor(x => x.Email)
    <br />
    @Html.LabelFor(x => x.Password)@Html.TextBoxFor(x => x.Password)@Html.ValidationMessageFor(x => x.Password)
    <br />
    <input type="submit" value="Submit" />

}
